<div class="container">
  <div class="row">
    <div class="my-2">
      <h3>Sales by month</h3>
      <%= line_chart sales_by_month_sales_path %>
    </div>
  </div>
  <div class="row">
    <div class="my-2 col-md-6">
      <h3>Sales by category</h3>
      <%= pie_chart sales_by_category_sales_path %>
    </div>
    <div class="my-2 col-md-6">
      <h3>Daily sales this month</h3>
      <%= column_chart daily_sales_this_month_sales_path %>
    </div>
  </div>
  
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Sale Date</th>
        <th scope="col">Amount</th>
        <th scope="col">Product Category</th>
      </tr>
    </thead>
    <tbody>
      <% @sales.each do |sale| %>
          <th scope="row"><%= sale.id %></th>
          <td><%= sale.sale_date %></td>
          <td><%= sale.amount %></td>
          <td><%= sale.product_category %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
